<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="./css/vendor.css">
     <script src="./js/vendor.js" defer></script> 
    <title>Vendor Center</title>
</head>
<style>
 

</style>
<body>
    <div class="nav-con">
        <header>
            <h1 id="brand-logo" style="cursor: pointer;">🔥Microserve</h1>
            <ul class="nav-list">
                <li><a href="#">Products</a></li>
                <li><a href="#">Add Products</a></li>
           
            </ul>
            
        </header>

    </div>
    
    <div class="focus">
        <div class="login-container">
            <div class="focus-img">
                <h2 class="focus-title">Seller Center</h2>
                <img src="./assets/vendor.jpg" alt="vendor holding credit card" />
            </div>
            
            <div class="focus-form">
                <form class="login-form">
                    <input type="email" placeholder="Email" required />
                    <input type="password" placeholder="password" required />
                    <input type="submit" value="Login" />
                </form>
                
            </div>
        </div>

    </div>
</body>
</html>